@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background-color: black !important;
    color: green !important;
    font-family: 'Victor Mono', monospace;
  }
h1 {
  font-family: 'Press Start 2P', cursive;
}
h2 {
  font-family: 'Press Start 2P', cursive;
}
.barcode {
  font-family: 'Libre Barcode 39', cursive !important;
}
.bold {
  font-family: 'Roboto', sans-serif;
}
input {
  background-color: rgba(0, 0, 0, 0.425) !important;
  border-color: rgb(65, 64, 64) !important;
}
input:focus {
  border : 5px solid   !important;
  border-color: green !important;
  outline: none;
}
textarea {
  transition: 0.25s !important;
  color: white !important;
  background-color: black !important;
  border-color: green !important;
  font-family: 'Victor Mono',monospace !important; 
  outline: none !important;
}
textarea:focus {
  transition: 0.5s !important;
  border: 5px solid !important;
  border-color: green !important;
  outline: none !important; 
}
textarea:hover {
  transition: 0.5s !important;
  border: 5px solid;
  border-color: green !important;
  outline: none !important;
}
label::after {
  background-color: green !important;

} 
input {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  border : 5px solid;
  border: 3px solid ;
  color: white;
  transition: 0.5s;
  text-align: center;
}

